<p id="notice"><%= notice %></p>

<p>
  <b>Resourceid:</b>
  <%= @conversation.resourceId %>
</p>


<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
